*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}
body{
    overflow-x: hidden;
    width: 100vw;
}


/* Styling the scrollbar itself */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar (vertical) */
  height: 12px; /* Height of the scrollbar (horizontal) */
}
  
  /* Styling the track (background) */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.693); /* Light gray background for the track */
    /* border-radius: 10px;  */
}
  
  /* Styling the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #1486dd; 
    border-radius: 10px; 
    height: 10px;
    /* width: 100px; */
    transition: all 0.3s ease;
}
  
  /* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
    background: #054b81; /* Darker thumb color when hovered */
}
  
  /* Optional: You can style the horizontal scrollbar as well */
  ::-webkit-scrollbar-horizontal {
    height: 8px; /* Smaller horizontal scrollbar */
  }